<%= content_for :sub_nav_content do %>

    <%= content_tag :li, link_to('Publish this storybook', "#", class:'navbar-link')%>

    <%= content_tag :li, link_to('Delete this storybook', @storybook, method: :delete,
                                 data: { confirm: 'you want to delete this storybook?' },
                                 class:'navbar-link')%>

<% end %>

<%= form_for @storybook, html: { class:'form-storybook' } do |f| %>

    <div class="form-group">
      <%= f.label :title, class:'control-label h5 text-primary font-thin' %>
      <%= f.text_field :title, class:'form-control', autofocus:true %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-lg-2">
          <%= cl_image_tag image_for(@storybook), size: '156x206', class:'img-responsive' %>
        </div>
        <div class="col-lg-10">
          <%= f.label :cover, class:'control-label h5 text-primary font-thin' %>
          <%= f.hidden_field  :cover_cache %>
          <%= f.file_field :cover, class:'form-control' %>
          <p class="help-block">Upload a photo to change your storybook cover.</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class:'control-label h5 text-primary font-thin' %>
      <%= f.text_area :description, class:'form-control', rows:4 %>
    </div>

    <h5 class="text-primary font-thin">Included stories</h5>
    <%= f.collection_check_boxes :story_ids, @user.stories, :id, :title do |b| %>
        <div class="checkbox">
          <%= b.label do %>
              <%= b.check_box %>
              <%= link_to b.text, story_path(id: b.value), class:'text-muted', remote:true %>
          <% end %>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.submit 'Update my storybook', class:'btn btn-primary' %> or
        <%= link_to 'Cancel', @storybook %>
    </div>

<% end %>

<%= content_tag :div, nil, id: 'story-modal', class: 'modal fade', tabindex: -1, role: 'dialog' %>
