<%= content_for :sub_nav_content do %>

    <%= content_tag :li, link_to('Edit this storybook', edit_storybook_path(@storybook), class:'navbar-link')%>

<% end %>

<div class="well">

    <div class="row">

      <div class="col-lg-2">

        <%= cl_image_tag image_for(@storybook), size: '156x206', class:'img-responsive' %>

      </div>

      <div class="col-lg-10">

        <%= content_tag :h4, "by #{@storybook.user.name}", class:'font-thin' %>

        <%= content_tag :p, sanitize(@storybook.description), class:'lead' %>

      </div>

    </div>

</div>

<h4 class="text-primary font-thin">Stories in this storybook:</h4>

<ul class="list-group">

  <% @storybook.stories.each do |story| %>

      <%= content_tag :li, link_to(story.title, story_path(story), remote:true), class:'list-group-item' %>

  <% end %>

</ul>

<%= content_tag :div, nil, id: 'story-modal', class: 'modal fade', tabindex: -1, role: 'dialog' %>



