<%= bootstrap_form_tag url: search_path, method: :get do |f| %>

    <%= f.text_field :query, hide_label: true  %>

    <%= f.form_group do %>
        <%= f.primary 'Search' %> or
        <%= link_to 'Cancel', :back %>
    <% end %>

<% end %>

<div id="search-results">

  <% if @results.empty? %>

      <%= render partial: 'shared/nothing_to_render', locals: { item: 'result' } %>

  <% else %>

      <ul class="list-group m-t-lg">

        <% @results.each do |result| %>

            <%= render partial: 'result', locals: { result: result } %>

        <% end %>

      </ul>

  <% end %>

</div>
