<h4 class="font-thin">Invite by email:</h4>

<%= render template:'invitations/new' %>

<%= tag :br %>

<% if @recipient %>

    <h4 class="font-thin text-info">The person you want to invite is already a member!</h4>

    <ul id="recipients" class="list-group">

      <%= render partial: 'relationship', locals: { item: @recipient, type: 'recipient' } %>

    </ul>

<% end %>

<%= tag :br %>

<h4 class="font-thin">Suggested family members to add:</h4>

<ul id="invitees" class="list-group">

  <% @invitees.each do |invitee| %>

      <%= render partial: 'relationship', locals: { item: invitee, type: 'invitee' } %>

  <% end %>

</ul>



