<div class="row">

  <div class="col-lg-6 col-md-6 col-sm-12">

    <%= bootstrap_form_for @user, html: { class:'form-user-edit' } do |f| %>

        <%= f.text_field :name, label_class:'text-warning', autofocus:true %>

        <%= f.email_field :email, label_class:'text-warning' %>

        <%= f.password_field :password %>

        <%= f.password_field :password_confirmation %>

        <%= f.form_group do %>
          <%= f.primary 'Update' %> or
          <%= link_to 'Cancel', @user %>
        <% end %>

    <% end %>


    <%= link_to 'Delete my account', @user, method: :delete, data: { confirm: 'you want to delete your account?' }, class:'pull-right' %>


  </div>

</div>

