<div id="hero">
  <div class="container">
    <h1 class="hero-text animated fadeInDown">
      Share your family <%= tag :br %>
      with your family
    </h1>
    <p class="sub-text animated fadeInDown">
      Pass down your family's values with a Family Storybook.
    </p>
    <div class="cta animated fadeInDown">
      <%= link_to 'See the tour', "#", class:'button-outline' %>
      <%= link_to 'Sign up for free', "#", class:'button' %>
    </div>
  </div>
</div>

<div id="features">
  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h2>Need a great gift idea?</h2>
        <p>A Family Storybook is the ideal keepsake gift for your entire family.</p>
      </div>
    </div>

    <div class="row feature">
      <div class="col-md-6 info">
        <h4>You don't need to have great technical experience to use your product.</h4>
        <p>
          Whether you want to fill this paragraph with some text like I'm doing right now, this place
          is perfect to describe some features or anything you want - React has a complete solution for you.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= holder_tag '402x202', nil, class:'img-responsive' %>
      </div>
    </div>

    <%= content_tag :div, nil, class:'divider' %>

    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>A fully featured well design template that works.</h4>
        <p>
          You have complete control over the look & feel of your website, we offer the best quality so you
          take your site up and running in no time.
        </p>
        <p>
          Write some text here to explain the features of your site or application, it
          has lots of uses.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= holder_tag '371x246', nil, class:'img-responsive' %>
      </div>
    </div>

  </div>
</div>

<div id="pricing">


</div>
