<!DOCTYPE html>
<html lang="en">

<head>

  <%= render 'layouts/head' %>

</head>

<body>

    <div id="wrapper">

      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <%= render 'layouts/main_nav' %>
        </ul>
        <footer class="app-side-footer">
            <%= render 'layouts/footer' %>
        </footer>
      </div>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">

              <%= render 'layouts/flashes' %>

              <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <%= render 'layouts/sub_nav' %>
                </div>
              </nav>

              <div class="container-fluid">

                <div class="row">

                  <div class="col-lg-12">

                    <%= content_tag :h3, @page_title, class:'text-info font-thin m-b-lg' %>

                    <%= yield %>

                  </div>

                </div>

              </div>

            </div>

            <%= debug params %>

          </div>

        </div>

      </div>

    </div>

</body>

</html>