<!DOCTYPE html>
<html>
<head>
  <title>Flix</title>
  <%= stylesheet_link_tag    "application", params[:controller], media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", params[:controller], "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= render "layouts/header" %>

<div id="wrapper">

  <%= render 'layouts/flashes' %>

  <div id="container">

    <section id="sidebar">

      <%= render "layouts/sidebar" %>

    </section>

    <section id="content">

      <%= yield %>

    </section>

  </div>

</div>

<%= render "layouts/footer" %>

</body>

</html>
