<!DOCTYPE html>
<html lang="en">

<head>

  <%= render 'layouts/head' %>

</head>

<body id="home">

<header class="navbar navbar-inverse hero" role="banner">

  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'FamilyShare', root_path, class:'navbar-brand' %>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

      <ul class="nav navbar-nav navbar-right">

        <%= content_tag :li, link_to('About', "#") %>

        <%= content_tag :li, link_to('Showcase', "#") %>

        <%= content_tag :li, link_to('Pricing', "#") %>

        <%= content_tag :li, link_to('About', "#") %>

      </ul>

    </nav>

  </div>

</header>

<%= yield %>

<div id="footer-white">

  <div class="container">

    <div class="row">

      <div class="col-sm-3 menu">
        <h3>Overview</h3>
        <ul>
          <%= content_tag :li, link_to('Features', "#") %>
          <%= content_tag :li, link_to('Pricing', "#") %>
          <%= content_tag :li, link_to('Support', "#") %>
          <%= content_tag :li, link_to('Blog', "#") %>
        </ul>
      </div>

      <div class="col-sm-3 menu">
        <h3>Menu</h3>
        <ul>
          <%= content_tag :li, link_to('About', "#") %>
          <%= content_tag :li, link_to('Showcase', "#") %>
          <li>
            <%= link_to 'Jobs', "#" %>
            <%= link_to "We're hiring", "#", class:'hiring' %>
          </li>
          <%= content_tag :li, link_to('Pricing', "#") %>
          <%= content_tag :li, link_to('Blog', "#") %>
        </ul>
      </div>

      <div class="col-sm-2 menu">
        <h3>Social</h3>
        <ul>
          <%= content_tag :li, link_to('YouTube', "#") %>
          <%= content_tag :li, link_to('Facebook', "#") %>
          <%= content_tag :li, link_to('Twitter', "#") %>
        </ul>
      </div>

      <div class="col-sm-4 newsletter">
        <div class="signup clearfix">
          <p>
            Sign up for the newsletter and we'll inform you of updates, offers and more.
          </p>
          <form>
            <input type="text" name="email" class="form-control" placeholder="Your email address" />
            <input type="submit" value="Sign up" />
          </form>
        </div>
        <%= link_to icon('youtube', nil, class:'fa-2x'), "#" %>
        <%= link_to icon('facebook', nil, class:'fa-32'), "#" %>
        <%= link_to icon('twitter', nil, class:'fa-2x'), "#" %>
      </div>

      <div class="row credits">
        <div class="col-md-12">
          Copyright &copy; 2015 Red Sherpa LLC
        </div>
      </div>

    </div>



  </div>


</div>









</body>

</html>